@import "src/styles/globals";

:host {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $header-height;
  padding: $header-padding #{2 * $header-padding};
  border-bottom: 2px solid $color-saffron;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 100%;

  img {
    display: block;
    background-image: url("/assets/personal-logo.svg");
    height: 100%;
    background-repeat: no-repeat;
  }
}

.menu {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;

  a {
    color: $color-saffron;
    font-size: 1.25rem;
    transition: all 500ms;

    &:hover, &.selected {
      color: $color-burnt-sienna;
    }
  }
}
