@use "styles/globals";

:host {
  width: 100%;
  height: 100%;
  background-color: globals.$color-charcoal;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;

  animation-name: fade-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  #main-content {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: globals.$header-padding;
    overflow: hidden;

    .outlet {
      padding: 0 2rem 2rem 2rem;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
    }

    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: globals.$color-charcoal;
  z-index: 0;

  .left, .right, .texture {
    position: absolute;
    width: globals.$header-height;
    height: 100%;
    top: 0;
  }

  .left {
    left: 0;
    background: linear-gradient(90deg, rgba(globals.$color-persian-green, 0.1) 0%, rgba(globals.$color-charcoal, 0) 50%);
  }

  .right {
    right: 0;
    background: linear-gradient(-90deg, rgba(globals.$color-persian-green, 0.1) 0%, rgba(globals.$color-charcoal, 0) 50%);
  }

  .texture {
    width: 100%;
    background-image: url("/assets/texture.png");
    background-size: cover;
    opacity: 5%;
  }
}
