@import "globals";
@import '@angular/cdk/overlay-prebuilt.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: $color-saffron;
  font-size: 20px;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: $color-sandy-brown;
  transition: all 500ms;

  &:hover {
    color: $color-burnt-sienna;
  }
}

.cta-button {
  display: inline-flex;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: $color-sandy-brown;
  border: 1px solid $color-sandy-brown;
  justify-content: center;
  align-items: center;
  gap: 0.25em;

  &:hover {
    background-color: rgba($color-sandy-brown, 0.25);
    color: $color-sandy-brown;
  }
}

h1, h2, h3 {
  color: $color-burnt-sienna;
}

h1 {
  font-size: 2em;
}

* {
  box-sizing: border-box;
}

li {
  list-style: url("/assets/arrow-right.svg");
}

code {
  font-family: "Courier Prime", Consolas, sans-serif;
  font-size: .75em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-persian-green;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.mat-icon {
  //noinspection CssNoGenericFontName
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-flex;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
