@import "globals";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: $color-saffron;
}

a {
  cursor: pointer;
}

h1, h2, h3 {
  color: $color-burnt-sienna;
}

* {
  box-sizing: border-box;
}
