@import "src/styles/globals";

:host {
  max-width: 1024px;
  margin: auto;
}

.side-by-side {
  display: flex;
  gap: 2rem;

  .img-container {
    position: relative;
    min-width: 256px;
    height: 256px;

    @media (max-width: 900px) {
      display: none;
    }

    img {
      position: relative;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 8px;
      z-index: 1;
    }

    .outline {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      border: 2px solid $color-saffron;
      top: 16px;
      left: 16px;
      z-index: 0;
      transition: all 500ms;
    }

    &:hover {
      .outline {
        top: 8px;
        left: 8px;
      }

      .transparency {
        opacity: 0;
      }
    }
  }
}
