<div>
  <h1>About</h1>

  <div class="side-by-side">
    <div>
      <p>Hello! My name is Joe and I’ve done a little bit of everything: leading teams, game development, server
        architecture, website development, devops, release management, and a lot more. I’ve had to wear a lot of hats,
        but I originally started out in game development. My first taste was making maps for the original Half-Life,
        after that I was hooked, and knew I wanted to pursue a career in game development.</p>

      <p>Unfortunately, the 2008 recession wasn’t a good time to start and I pivoted to enterprise software and training
        games. I learned a lot doing that. Often as a part of small companies I had to do a lot of different things:
        building flash / html games, setting them up on servers, and assisting clients in installing them. Our clients
        were often fortune 500 companies and they didn’t tolerate bugs or failures. Making quality software that didn’t
        fail was the norm.</p>

      <p>Fast forward to today, I decided to leave a company that I helped start after 9 years. Starting off wanting to
        work in game development and over the last 15 years only skirting along the edge, I was ready for a change. So,
        I decided to take some time and work on my own game. It’s an Angular-based puzzle game that mixes document
        mystery and ancestry research. The main character uncovers the root cause of a family curse while trying to find
        out how to stop it from happening to her.</p>
    </div>

    <div class="img-container">
      <img src="assets/me.png" alt="Picture of Joe"/>
      <div class="outline"></div>
    </div>
  </div>
</div>
