<div>
  <h1>Hi.<br/> I'm Joe,<br/> a full-stack engineer</h1>

  <p>I'm a software developer with <app-years></app-years> years of experience building web, game, and backend platforms. I do a
    little bit of everything!</p>

  <p>For nine years, I poured my heart into a startup I helped launch, building their initial project from the ground up
    to a massive training platform. Now, I'm working on a healthcare startup focused on developing AI-powered solutions
    to help doctors make effective decisions for their patients.</p>

  <a routerLink="about" class="cta-button">Learn about me!</a>
</div>
