@import "src/styles/globals";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-charcoal;
}

app-header {
  z-index: 2;
}

#main-content {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: $header-padding;
  z-index: 1;
  overflow: hidden;

  .outlet {
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-charcoal;
  z-index: 0;

  .left, .right, .texture {
    position: absolute;
    width: $header-height;
    height: 100%;
    top: 0;
  }

  .left {
    left: 0;
    background: linear-gradient(90deg, rgba($color-persian-green, 0.1) 0%, rgba($color-charcoal, 0) 50%);
  }

  .right {
    right: 0;
    background: linear-gradient(-90deg, rgba($color-persian-green, 0.1) 0%, rgba($color-charcoal, 0) 50%);
  }

  .texture {
    width: 100%;
    background-image: url("/assets/texture.png");
    background-size: cover;
    opacity: 5%;
  }
}
