@import "src/styles/globals";

:host {
  display: flex;
  width: $header-height;
  height: 100%;
  padding: #{2 * $header-padding} $header-padding;
  border-right: 2px solid $color-saffron;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    padding: 5px;

    svg {
      display: block;
      width: 28px;
      height: 28px;
    }

    path {
      fill: $color-saffron;
      transition: fill 500ms;
    }

    &:hover path {
      fill: $color-burnt-sienna;
    }
  }
}
