<div>
  <h1>Hi,<br/>
    I’m Joe,<br/>
    a game / full-stack engineer</h1>

  <p>I'm a software developer with 15 years of experience building web, game, and backend platforms. I do a little bit
    of everything! Recently, I helped start a company and spent 7 years as lead developer working on all parts of a
    large multi-framework platform.</p>

  <p>Currently, I'm developing Angular-based puzzle game that mixes document mystery and ancestry research. The main
    character uncovers the root cause of a family curse while trying to find out how to stop it from happening to
    her.</p>

  <a routerLink="about" class="cta-button">Learn about me!</a>
</div>
