<div>
  <h1>About</h1>

  <div class="side-by-side">
    <div>
      <p>Hello! My name is Joe and I'm someone who's always been driven by the thrill of building things. I've been
        lucky enough to spend the last
        <app-years></app-years>
        years learning and diving in headfirst. You know that saying, "jack of all trades, master of none?" Well, I've
        always taken that as a challenge: I believe that you can master any number of things. I've found joy in learning
        a little bit of everything, from leading teams, crafting engaging game experiences, building server
        architecture, constructing sleek websites, to managing the ins and outs of DevOps and release cycles. Basically,
        if it involves creating and problem-solving, I'm in! I believe in mastering whatever I set my mind to, and
        that's led me down some pretty exciting paths.
      </p>

      <p>For nine years, I poured my heart into a startup I helped launch, building their initial project from the
        ground up to a massive training platform. It was an incredible journey, and I learned so much. Now, I'm
        channeling that energy into something impactful: a healthcare startup focused on developing AI-powered solutions
        to help doctors make effective decisions for their patients. It's a different world, and I'm loving the
        challenge of applying my diverse skillset to make a real difference in people's lives.</p>

      <p>Ultimately, what I'm looking for is work that ignites my passion. I want to be part of projects that matter,
        where I can contribute my experience and continue to learn and grow. Whether it's tackling complex technical
        challenges, leading a team to success, or building something that positively impacts the world, I'm ready to
        dive in and make it happen. I'm a firm believer that technology can be a force for good, and I'm excited to see
        where my journey takes me next.</p>

      <p>
        <a routerLink="/projects" class="cta-button">Check out what I'm working on!</a>
      </p>
    </div>

    <div class="img-container">
      <img ngSrc="assets/me.png" alt="Picture of Joe" height="512" width="512"/>
      <div class="outline"></div>
    </div>
  </div>
</div>
