<ng-container [ngSwitch]="job">
  <div *ngSwitchDefault>
    <h3>Self Employed - New York, NY</h3>
    <sub>Game Developer | 2022 - Present</sub>

    <ul>
      <li>Working as sole developer, artist, and designer, building the game from the ground up.</li>
      <li>Developing Angular based puzzle game that mixes document mystery with ancestry research. The main character
        uncovers the root cause of a family curse. Give it a try
        <a href="https://ancestor.joe-flaherty.me/" target="_blank">here</a> or see the original Unity code
        <a href="https://github.com/PickySalamander/ancestor-old" target="_blank">here</a>.
      </li>
    </ul>
  </div>

  <div *ngSwitchCase="'sciolytix'">
    <h3>Sciolytix (formerly Selleration) - New York, NY</h3>
    <sub>Lead Product Architect | 2013 - 2022</sub>

    <ul>
      <li>Starting as a single-person development team, built the flagship product UPtick from the ground up. UPtick is a simulation training platform built in Java, Unity, Spring, Oculus, iOS, Android and Angular.</li>
      <li>Maintained a complex AWS stack as system administrator for thousands of users, using services: EC2, S3, CloudFormation, RDS, DynamoDB, Lambda, CloudWatch, and more.</li>
      <li>Collaborated with the leadership team to build goals for the development team.</li>
      <li>Developed machine learning pipeline used to predict success of users using AWS SageMaker.</li>
    </ul>
  </div>

  <div *ngSwitchCase="'kuma'">
    <h3>Kuma Reality Games - New York, NY</h3>
    <sub>Developer | 2011 - 2013</sub>
    <ul>
      <li>Developed a social media platform called ScatterRadio which allowed users to record and stream audio messages. Worked primarily in Java, PHP, AS3, MySQL, JavaScript, jQuery, HTML, iOS, and Android.</li>
    </ul>
  </div>

  <div *ngSwitchCase="'brandgames'">
    <h3>BrandGames - New York, NY</h3>
    <sub>Lead Developer | 2009 - 2011</sub>
    <ul>
      <li>Developed marketing and training games for a variety of Fortune 500 companies, working primarily in Flash, HTML, Unity, SCORM, and ASP.net.</li>
    </ul>
  </div>

  <div *ngSwitchCase="'rebelmonkey'">
    <h3>Rebel Monkey - New York, NY</h3>
    <sub>Game Developer | 2008 - 2009</sub>
    <ul>
      <li>Developed Java servers for a variety of multiplayer Flash games hosted on early Amazon EC2.</li>
    </ul>
  </div>

  <div *ngSwitchCase="'tfc'">
    <h3>Tech for Campaigns</h3>
    <sub>Frontend Developer | 2018 - Present</sub>
    <ul>
      <li>Working on an all-volunteer team, setting up WordPress sites for grassroots political campaigns.</li>
      <li>Train new volunteer frontend developers.</li>
    </ul>
  </div>

  <div *ngSwitchCase="'surj'">
    <h3>Showing Up for Racial Justice, NYC Chapter</h3>
    <sub>Communications Volunteer | 2020 - Present</sub>
    <ul>
      <li>Help manage communications to more than 23,000 members through the EveryAction CRM.</li>
      <li>Train new volunteers on how to use EveryAction and communicate with membership.</li>
    </ul>
  </div>
</ng-container>
